@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force the app to take up the full screen */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Stop scrolling on the main page */
}